body {
    font-family: "Arial", sans-serif;
    padding-left: 1em;  /* Left padding */
    padding-right: 1em;  /* Right padding */

}

text {
    font-size: 10px;
}

#container {
    display: flex;
}

#svg-container {
    flex: 0 0 auto;
}

#text-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 18.75em; /* Minimum width in em */
    max-width: 18.75em; /* Maximum width in em, equal to min-width for a fixed effect */  
}

#left_panel_text{
    min-height: 20em; /* Minimum width in em */
    max-height: 20em; /* Maximum width in em, equal to min-width for a fixed effect */
}

#short_paragraph, #long_paragraph {
flex: 0 0 auto;
}
#short_paragraph{
    padding-top: 0.5em;
    font-size: 12px;
    text-align: justify;

}
#long_paragraph{
    padding-top: 0.5em;
    font-size: 11px;
    text-align: justify;
}
#action_name{
    font-weight: bold;
}

.likert-container {
    margin-bottom: 0.5em;
}
.likert-label {
    display: inline-block;
    min-width: 80;
    text-align: center;
}
.textbox {
    margin-left: 5px;
}
#likerts{
    font-size: 10px;
 
}